@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
html, body {
	width:100%;
	height:100%;
	font:10px/180%; 
	font-family: 'Cormorant Garamond','Gowun Batang', serif; color:rgba(89,89,89,100);
}
a {
	text-decoration:none; 
	color:rgba(89,89,89,100);
}

img {
	display:block;	
}
#layout{	
	margin:auto;
	max-width:2000px;	
	background:#fdeed9;
	display:grid;
	place-items:center;
	position:relative;	
}
/*(벤더프리픽스)스크롤바 넓이변경*/
::-webkit-scrollbar {
		width:1px; 
}

/*상단*/
header nav{
	display:flex;
	list-style:none;
	padding:50px 70px 10px 70px;	
	}
header li{
	display:block;
	padding:0 30px 0 30px;
	font-size:1.1rem;
}

header #headerline{
	width:750px;
	padding:20px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	display:flex;
	justify-content:space-between;	
	
}
header .head1{	
	padding-top:70px;
	padding-bottom:40px;
	padding-left:5px;	
}
header .head2{	
	padding-top:70px;
	margin-left:auto;
	margin-right:auto;
	padding:65px 150px 30px 150px;border-right:1px solid gray;
	border-left:1px solid gray;
}
header .head3{	
	padding-top:40px;
	padding-bottom:40px;	
	padding-left:20px;
	padding-right:45px;	
}
/*메인*/
main{
	border-bottom:1px solid gray;
}
h3 {
	font-size:2.8rem;	
	padding:30px 630px 20px 0;
	}
main h4{
	text-align:center;
	margin-bottom:30px;
}
main rt{	
	transform:translateY(45px);
	font-size:1.3rem;	
}
/*주인공*/
#actor1 {
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}

#actor1 section{
	position:relative;
	cursor:pointer;	
}
/*마우스호버전*/
#actor1 section div{
	position:absolute;
	width:100%;	
	top:25%;
	text-align:center;
	opacity:0;	
	transition:0.5s;	
}
#actor1 p {
	color:white;
	font-size:1.2rem;
	
}
/*마우스호버후*/
#actor1 section:hover div{
	opacity:1;
}
#actor1 img{
	width:220px;
	transition:0.5s;
}
#actor1 section:hover img{
	filter:brightness(50%);  
	transform:scale(1.2); 
}
/*조연*/
#actor2{
	display:flex;
	justify-content:space-between;
	margin-bottom:40px;
}

#actor2 section{
	position:relative;
	cursor:pointer;	
}
/*마우스호버전*/
#actor2 section div{
	position:absolute;
	width:100%;	
	top:20%;
	text-align:center;
	opacity:0;	
	transition:0.5s;	
}
#actor2 p {
	color:white;
	font-size:1.2rem;
	
}
/*마우스호버후*/
#actor2 section:hover div{
	opacity:1;
}
#actor2 img{
	width:170px;
	transition:0.5s;
}
#actor2 section:hover img{
	filter:brightness(50%);  
	transform:scale(1.2); 
}

/*질문*/
hr{
width:750px; 
height:1px;
border:none;
}

/*하단*/
footer{
	display:flex;
	max-width:800px;	
	margin-bottom:200px;
	margin-top:40px;
}
#music{
	width:450px;	
	padding-right:50px;	
	border-right:1px solid gray;
}
#music h3{
	padding-left:300px;
}
#music div{
	padding-top:20px;	
	padding-bottom:20px;
	text-align:center;
}
#music h4{
	padding-top:10px;
}

#music rt{
	transform:translateY(30px);
}

/*질문*/
.line{
	color:gray;
	width:1px;
	border:none;
	height:1100px;
}
#story{
	width:300px;	
	text-align:right;	
}
#story h3{
	padding-right:10px;
}